html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    overflow: hidden;
}

.content{
    height: 100vh;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    grid-template-areas: "sidebar header-container"
    "sidebar main-container";
    font-weight: 700;
}

.sidebar{
    height: 100vh;
    width: min-content;
    background-color: #2f2f2f;
    /*padding-right: 50px;
    padding-left: 25px;*/
    padding-top: 55px;
    grid-area: sidebar;
}



.sidebar-tab{
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 25px;

}

.sidebar-name{
    color: #ffffff;
    margin-left: 25px;
    font-size: 1.2rem;
}

.sidebar-icons{
    height: 35px;
    fill: #ffffff;
}

.active-tab{
    background-color: #161616;
}


/*header container*/
.header-container{
    grid-area: header-container;
    background-color: #161616;
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    /*height: min-content;*/
    /*height: 172px;*/
    height: 20vh;
    padding-bottom: 35px;

}

.header-title{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.header-subtitle{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    font-weight: 400;
}


/*main container*/
.main-container{
    grid-area: main-container;
    background-color: #161616;
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    height: 80vh;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: auto;

}

.hp-main-container{
    display: grid;
    gap: 35px;
    grid-template-areas: "today projects";
}

.hp-today-container{
    background-color: #2f2f2f;
    grid-area: today;
    border-radius: 15px;
    height: 65vh;

}



.hp-project-container{
    background-color: #2f2f2f;
    grid-area: projects;
    border-radius: 15px;
    height: 65vh;
}

.hp-project-header, .hp-today-header{
    padding-inline: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-project-button, .create-task-button{
    font-family: 'Source Sans 3', sans-serif;
    border: none;
    background-color: #ffffff;
    font-size: 1rem;
    height: min-content;

    padding: 10px 30px;
    border-radius: 20px;


}

.hp-container-titles{
    font-size: 1.3rem;
}


.header-subtitle-button-container{
    display: flex;
    justify-content: space-between;
}


/*all tasks page and all projects page*/
.tp-main-container, .pp-main-container{
    background-color:#2f2f2f;
    border-radius: 15px;
    height: 65vh;
    padding-top: 10px;
}






/*todo dom element*/
.dom-todo-div{
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
    align-items: center;
}

.dom-todo-right{
    display: flex;
}

.view-todo-button{
    height: min-content;
}
